In [68]:
# file_name = 'toy-story-1995-subdl.srt'
file_name = 'toy-story-2019-subdl.srt'

In [69]:
# read the file

# toy-story.srt
with open(file_name, 'r') as file:
    contents = file.read()

# \n separated data
rows = contents.split('\n\n')
# split by \n for each row
data = [row.split('\n') for row in rows]
# remove first two elements for each row
data = [row[2:] for row in data]
# join the remaining elements for each row
data = [' '.join(row) for row in data]

# remove timestamps and ids, get text only

# print as dataframe

# for item in data:
#     print(item)

In [70]:
# save as txt
with open(file_name.replace('.srt', '.txt'), 'w') as file:
    for item in data:
        file.write(item + '\n')

## Notes here

This data is cool

In [71]:
import spacy
import en_core_web_trf
nlp = en_core_web_trf.load()

In [72]:
# concat all text from data array
text = ' '.join(data)

output = nlp(text)
#spacy.displacy.render(nlp(text), style="ent", jupyter=True)

In [73]:
import pandas as pd

df = pd.DataFrame(columns=['text', 'label'])
# print output as dataframe
for ent in output.ents:
    df.loc[len(df)] = {'text': ent.text, 'label': ent.label_}

# group by text
df = df.groupby('text').count().reset_index()

df

          text  label
0            -      1
1    0.5 miles      1
2     20 to 30      1
3       4 feet      1
4           40      2
..         ...    ...
135      three      2
136      today      3
137   tomorrow      2
138        two      5
139      years      2

[140 rows x 2 columns]

In [74]:
df.to_csv(file_name.replace('.srt', '.csv'), index=False)